{% extends 'menu.html' %}
{% block content %}

<section class="section-content padding-y back2">
	<div class="container">
        <a href="{{ path_for('home') }}" class="btn btn-outline-primary">Voltar para o início</a>
        <div class="row margem">
        <main class="col-md-8 col-sm-12">
            <h1 class="text-center">Política de privacidade</h1>

            <h2>Mídia</h2>
            <p>Se você envia imagens para o site, evite enviar as que contenham dados de localização 
            incorporados (EXIF GPS). Visitantes podem baixar estas imagens do site e extrair delas 
            seus dados de localização.</p>

            <h2>Cookies</h2>
            <p>Se você tem uma conta e acessa este site, um cookie é criado para que você possa acessar o 
            nosso site e garantir que seu navegador aceita cookies.</p>
            <p>Quando você acessa sua conta no site, também criamos vários cookies para salvar os 
            dados da sua conta e suas escolhas de exibição de tela. Cookies de login são mantidos 
            por tempo indeterminado. Se você se desconectar da sua conta, os cookies de login serão 
            removidos.</p>

            <h2>Mídia incorporada de outros sites</h2>
            <p>Artigos neste site podem incluir conteúdo incorporado como, por exemplo, vídeos, imagens, 
            artigos, etc. Conteúdos incorporados de outros sites se comportam exatamente da mesma 
            forma como se o visitante estivesse visitando o outro site.</p>
            <p>Estes sites podem coletar dados sobre você, usar cookies, incorporar rastreamento 
            adicional de terceiros e monitorar sua interação com este conteúdo incorporado, 
            incluindo sua interação com o conteúdo incorporado se você tem uma conta e está 
            conectado com o site.</p>

            <h2>Análises</h2>
            <h3>Com quem partilhamos seus dados</h3>
            <p>Seus dados como e-mail, contatos, nome e endereço do imóvel são exibidos na visualização 
            do imóvel para que os usuários entem em contato com você.</p>
        </main>
        </div>
	</div>
</section>
</div>

{% endblock %}