<!DOCTYPE HTML>
<html lang="pt_br">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ meta.description }}">
    <meta name="author" content="{{ meta.author }}">
    <meta name="robots" content="{{ meta.index }}, {{ meta.follow }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ base_url() }}/views/images/favicon.ico">
    <link rel="stylesheet" href="{{ base_url() }}/views/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ base_url() }}/views/css/floating-labels.css" rel="stylesheet" type="text/css"/>
    <link href="{{ base_url() }}/views/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="{{ base_url() }}/views/css/blog.css" rel="stylesheet" type="text/css"/>
    <link href="{{ base_url() }}/views/css/ui.css?v=1.0" rel="stylesheet" type="text/css"/>
    <link href="{{ base_url() }}/views/css/responsive.css" rel="stylesheet" media="only screen and (max-width: 1200px)" />
</head>
<body style="background-color: #E8E8E8;">
    <div class="card centralizar login">
        <div class="card-body">
            <div class="center margem text-dark">
                <h2><i class="fa fa-user"></i> Recuperar senha</h2>
                <p>Por favor, digite o seu e-mail cadastrado no site para recuperar sua senha</p>
            </div>
            <form class="form-signin margem" method="POST" action="{{ path_for('recSenha') }}" autocomplete="off">
                
                {% if msg1 %}
                <div class="alert alert-danger" role="alert">
                    {{ msg1 }}
                </div>
                {% endif %}

                {% if msg2 %}
                <div class="alert alert-success" role="alert">
                    {{ msg2 }}
                </div>
                {% endif %}
                
                <div class="form-group">
                    <input type="email" id="email" class="form-control form-control-lg" name="email" placeholder="Endereço de email" required autofocus>
                </div>
                
                <button class="btn btn-lg btn-primary btn-block margem" type="submit">Enviar</button>
                <hr>
                <div class="row margem">
                    <div class="col-md-6">
                        <a href="{{ path_for('home') }}" class="text-primary float-left"><i class="material-icons">arrow_back</i>Voltar para o site</a>
                    </div>
                    
                    <div class="col-md-6">
                        <a href="{{ path_for('admin') }}" class="text-primary float-right">Entrar no Blog</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
        
    <script src="{{ base_url() }}/views/js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="{{ base_url() }}/views/js/bootstrap.bundle.js" type="text/javascript"></script>
</body>
</html>