{% extends 'menu.html' %}
{% block content %}

<section class="section-content padding-y back2">
    <div class="container">
        <a href="{{ path_for('home') }}" class="btn btn-outline-primary">Voltar para o início</a>
        <div class="row text-center margem">
            <div class="col-md-12 col-sm-12">
                <h1>Sobre o Imóveis avista</h1>

                <p>Criado em 2019, nós não somos uma loja virtual 
                propriamente dita, somos uma plataforma de divulgação e busca de imóveis.</p>
            </div>   
        </div>

        <div class="card-group">
            <div class="card bg-dark text-white text-center" style="margin-right: 5px;">
                <img class="card-img" src="{{ base_url() }}/views/images/banners/slide1.webp" alt="Imóveis avista busca">
                <div class="card-img-overlay">
                    <h5 class="card-title">Para quem busca alugar</h5>
                    <p class="card-text">Ideal para você que busca uma casa para alugar.</p>
                </div>
            </div>

            <div class="card bg-dark text-white text-center" style="margin-left: 5px;">
                <img class="card-img" src="{{ base_url() }}/views/images/banners/slide2.webp" alt="Imóveis avista alugar">
                <div class="card-img-overlay">
                    <h5 class="card-title">Para quem quer alugar</h5>
                    <p class="card-text">Se você possui algum imóvel, divulgue no nosso site, é 
                    totalmente gratuito.</p>
                </div>
            </div>  
        </div><br>

        <div class="row text-center margem">
            <div class="col-md-12 col-sm-12">
                <h2>Qual a utilidade desse site?</h2>

                <p>Imagine um cenário em que você chega em uma cidade e 
                quer uma moradia, com certeza você teria que passar horas procurando uma casa. 
                No Imóveis avista, basta você selecionar o estado e a cidade para serem exibidas 
                os imóveis disponíveis nessa região.</p>
            </div>   
        </div>

        <div class="row text-center margem">
            <div class="col-md-12 col-sm-12">
                <h2>Possui um imóvel?</h2>

                <p>Se você possuir um imóvel, você pode fazer as divulgações dos seus 
                imóveis no Imóveis avista. Qualquer pessoa do Brasil pode encontrar seu imóvel. 
                E você não paga nada para utilizar nosso site.</p>
            </div>   
        </div>

        <div class="row text-center margem">
            <div class="col-md-12 col-sm-12">
                <h2>Em todo o Brasil</h2>

                <p>Você pode procurar ou anunciar em qualquer lugar do Brasil.</p>
            </div>   
        </div>

        <div class="row text-center margem">
            <div class="col-md-12 col-sm-12">
                <h2>Como usar o Imóveis avista?</h2>

                <p>Caso tenha alguma dúvida de como usar o nosso site, basta ver 
                <a href="{{ path_for('comoUsar') }}">aqui como usar o Imóveis avista</a></p>
            </div>   
        </div>
    </div>
</section>

{% endblock %}