{% extends 'menu.html' %}
{% block content %}

<section class="section-content padding-y back2">
    <div class="container">
        <a href="{{ path_for('home') }}" class="btn btn-outline-primary">Voltar para o início</a>
        <div class="row margem">
        <main class="col-md-8 col-sm-12">
            <h1 class="text-center">Termos e condições</h1>

            <p>Aos usuários do Imóveis avista, por favor pedimos que reserve um pouco do seu 
            tempo para ler e compreender os termo de uso do nosso site, bem como estar de acordo com 
            o mesmo.</p>

            <p>O Imóveis avista não realiza nenhum tipo de venda para nenhum dos nossos visitantes. Nosso site 
            é unica e exclusivamente uma plataforma de divulgação de imóveis.</p>

            <p>Para os usuários que queiram divulgar seus imóveis na nossa plataforma, os mesmos devem 
            estar de acordo com nossa política de privacidade e nossos termos de uso.</p>

            <h2>Cadastro</h2>
            <p>O usuário deve informar seus dados pessoais verdadeiros (como e-mail, contato e endereço 
            para divulgação do imóvel). O anunciante declara que é responsável por todo e qualquer tipo de 
            publicação divulgada em nosso site, isentando o Imóveis avista de qualquer responsabilidade 
            nesse sentido. O Imóveis avista não se responsabiliza por dados incorretos que o usuário 
            tenha inserido na plataforma.</p>

            <h2>Imagens</h2>
            <p>É estritamente proíbido qualquer tipo de conteúdo pornográfico em nosso site. 
            O Imóveis avista poderá excluir seu conteúdo caso não esteja de acordo com as regras.
            Caso o usuário continue não cumprindo essa regra, o Imóveis avista tem o direito de banir 
            permanentemente o mesmo da nossa plataforma.</p>
            <p>O usuário que divulgar imagens na nossa plataforma assume que o mesmo possui direitos sobre 
            a mesma, isentando o Imóveis avista de qualquer tipo de responsabilidade de direitos autorais</p>

            <h2>Privacidade</h2>
            <p>O Imóveis avista apenas divulga dados que julgamos necessários para poder publicar no site, 
            para mais informações veja nossa <a href="{{ path_for('privacidade') }}">política de privacidade</a></p>

            <h2>Alteração nos termos</h2>
            <p>O Imóveis avista poderá mudar os termos de uso a qualquer momento, visando a melhoria 
            da nossa plataforma.</p>
        </main>
        </div>
    </div>
</section>
</div>

{% endblock %}